.satin_dress_lace_image_section {
  display: flex;
  flex-wrap: wrap;
}

.satin_dress_lace_image_container {
  width: 33.33%;
  height: 400px;
  text-align: center;
}

.satin_dress_lace_image {
  /* margin: 0px auto; */
  width: 95%;
  height: 380px;
  background: url("./satin_dress_lace_images/RENAME-4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.satin_dress_lace_info {
  /* border: 2px solid red; */
}

.satin_dress_lace_nav_display {
  /* border: 2px solid red; */
  /* margin: 0px auto; */
  text-align: center;
  line-height: 25px;
  background: rgb(218, 171, 187);
}

.satin_dress_lace_text_display {
  font-size: 3rem;
  font-family: "Cinzel", serif;
  margin-top: 4.5rem;
}

.buy_now {
  /* position: absolute; */
  /* top: 10px; */
  margin-top: 334px;
  font-weight: 800;
  color: white;
  background: rgb(131, 126, 126);
  opacity: 0.8;
  cursor: pointer;
  /* display: none; */
}

.buy_now:hover {
  color: rgb(236, 90, 139);
}

.image_identity {
  visibility: hidden;
}

.satin_dress_lace_image_hover {
  display: none;
}

@media screen and (max-width: 990px) {
  .satin_dress_lace_image_container {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .satin_dress_lace_image_container {
    width: 100%;
  }

  .satin_dress_lace_image {
    width: 100%;
  }

  .satin_dress_lace_text_display {
    font-size: 2rem;
  }
}
#satin_dress_lace_image0 {
  background: url("./satin_dress_lace_images/RENAME-0.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satin_dress_lace_image1 {
  background: url("./satin_dress_lace_images/RENAME-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satin_dress_lace_image2 {
  background: url("./satin_dress_lace_images/RENAME-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satin_dress_lace_image3 {
  background: url("./satin_dress_lace_images/RENAME-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satin_dress_lace_image4 {
  background: url("./satin_dress_lace_images/RENAME-4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satin_dress_lace_image5 {
  background: url("./satin_dress_lace_images/RENAME-5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satin_dress_lace_image6 {
  background: url("./satin_dress_lace_images/RENAME-6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satin_dress_lace_image7 {
  background: url("./satin_dress_lace_images/RENAME-7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satin_dress_lace_image8 {
  background: url("./satin_dress_lace_images/RENAME-8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satin_dress_lace_image9 {
  background: url("./satin_dress_lace_images/RENAME-9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satin_dress_lace_image10 {
  background: url("./satin_dress_lace_images/RENAME-10.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satin_dress_lace_image11 {
  background: url("./satin_dress_lace_images/RENAME-11.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satin_dress_lace_image12 {
  background: url("./satin_dress_lace_images/RENAME-12.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satin_dress_lace_image13 {
  background: url("./satin_dress_lace_images/RENAME-13.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satin_dress_lace_image14 {
  background: url("./satin_dress_lace_images/RENAME-14.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satin_dress_lace_image15 {
  background: url("./satin_dress_lace_images/RENAME-15.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satin_dress_lace_image16 {
  background: url("./satin_dress_lace_images/RENAME-16.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satin_dress_lace_image17 {
  background: url("./satin_dress_lace_images/RENAME-17.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satin_dress_lace_image18 {
  background: url("./satin_dress_lace_images/RENAME-18.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satin_dress_lace_image19 {
  background: url("./satin_dress_lace_images/RENAME-19.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satin_dress_lace_image20 {
  background: url("./satin_dress_lace_images/RENAME-20.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satin_dress_lace_image21 {
  background: url("./satin_dress_lace_images/RENAME-21.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satin_dress_lace_image22 {
  background: url("./satin_dress_lace_images/RENAME-22.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satin_dress_lace_image23 {
  background: url("./satin_dress_lace_images/RENAME-23.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satin_dress_lace_image24 {
  background: url("./satin_dress_lace_images/RENAME-24.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satin_dress_lace_image25 {
  background: url("./satin_dress_lace_images/RENAME-25.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satin_dress_lace_image26 {
  background: url("./satin_dress_lace_images/RENAME-26.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satin_dress_lace_image27 {
  background: url("./satin_dress_lace_images/RENAME-27.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satin_dress_lace_image28 {
  background: url("./satin_dress_lace_images/RENAME-28.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satin_dress_lace_image29 {
  background: url("./satin_dress_lace_images/RENAME-29.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satin_dress_lace_image30 {
  background: url("./satin_dress_lace_images/RENAME-30.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satin_dress_lace_image31 {
  background: url("./satin_dress_lace_images/RENAME-31.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satin_dress_lace_image32 {
  background: url("./satin_dress_lace_images/RENAME-32.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satin_dress_lace_image33 {
  background: url("./satin_dress_lace_images/RENAME-33.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satin_dress_lace_image34 {
  background: url("./satin_dress_lace_images/RENAME-34.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satin_dress_lace_image35 {
  background: url("./satin_dress_lace_images/RENAME-35.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#satin_dress_lace_image36 {
  background: url("./satin_dress_lace_images/RENAME-36.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}/*# sourceMappingURL=satin_dress_lace.css.map */